{% extends '../common/header.html' %}

{% block subIncludeFileBeforeBody %}

    <link rel="stylesheet" href="/editorMd/css/editormd.min.css" />
    
    <style type="text/css">
	   .table>tbody>tr>td {
	    	border-top: none;
	    }
       .divider {
           width:0px;
       }
       .page-header{
           margin-bottom:20px;
       }
    </style>
{% endblock %}


{% block mainContent  %}
<form id = "addForm" action = "addArticle/doAdd" method = "post">
	<div>
		<div style="float:left">  
            Title:&nbsp;&nbsp;<input class = "form-control" style="display:inline;width:300px;" type = "text" id="title" name = "title" value = "{{data.article.title}}">
		</div>
		<div style="float:right">  
			<a class="btn btn-primary" href="/admin/article/articleManage">Back</a>
		</div>
		<div style="clear:both">
			
		</div>
		
	</div>
	<div id="editormd" style="min-height:600px;">
        <textarea name = "mdData" style="display:none;" id="mdData" >{{data.article.content}}</textarea>
	</div>

	<div>
        Classify:&nbsp;&nbsp; <select class = "form-control" style="display:inline;width:300px;" id="classifyId" name = "classifyId">
		    {% for classify in data.classifies %}
			<option value="{{classify.id}}"> {{classify.name}} </option>
            {% endfor %}
		</select>
        <br/>
        Tag:&nbsp;&nbsp;<select class = "form-control" style="display:inline;width:300px;" id="tagId" name = "tagId">
			{% for tag in data.tags %}
			<option value="{{tag.id}}"> {{tag.name}} </option>
            {% endfor %}
						
		</select>
        <br/>
        <button class="btn btn-primary" onclick="doAdd()">Publish</button>
		&nbsp;&nbsp;&nbsp;<span style = "color:red" id = "publishWarn"></span>
        <a class="btn btn-primary" href="/admin/article/articleManage">Back</a>&nbsp;&nbsp;
</form>

{% endblock %}



{% block subIncludeFileAfterBody %}
    <script src="/javascripts/jquery.min.js"></script>
	<script src="/editorMd/editormd.min.js"></script>
	<script type="text/javascript">
	    $(function() {
	        var editor = editormd("editormd", {
	            path : "/editorMd/lib/" // Autoload modules mode, codemirror, marked... dependents libs path
	        });

	        /*
	        // or
	        var editor = editormd({
	            id   : "editormd",
	            path : "../lib/"
	        });
	        */
	    })

	    function doAdd(){

	    	if(validData()){
		    	var url = "addArticle/doAdd";

		    	var data = {
		    		"title":$('#title').val(),
		    		"mdData":$('#mdData').val(),
		    		"classifyId":$('#classifyId').val(),
		    		"tagId":$('#tagId').val(),
		    	}

                $('#addForm').submit();
				<!--$.post(url,data-->
                        <!--,function(data,status){-->

					<!--console.log("data1,status = " + data + " " + status);-->
			  <!--      if (status == "success" && data == "succe-->ss") {
						
						<!--var url = "/"-->
						<!--window.location.href = url;-->
					<!--} else {-->
						<!--alert("服务器保存出错，请备份稍后再次保存！");-->
			  <!--[>  <]    }-->
				<!--}-->
                <!--)-->
	    	} else {
	    		;
	    	}
	    }

	    function validData(){
            $('#publishWarn').empty();
	    	var valid = true;

	    	var title = $('#title').val();
	    	if(title == null || title == "" || title.trim() == null){
	    		valid =  false;
	    		$('#publishWarn').append("title不能为空或者只为空格！！");
	    	} else {
	    		;
	    	}

	    	return valid;
	    }
	</script>
{% endblock %}
