<html>
    <head>
        <link rel = "stylesheet" href = "/stylesheets/bootstrap.min.css">

        <style type = "text/css">
.login_box{
    padding:15px 20px 20px;
    border-width:1px 0;
    clear:both;
    background-color:#fff;
    border-color:#e7eaec;
    border-image:none;
    border-style:solid solid none;
    max-width:530px;
    margin: 0 auto;
}
.login_form{
    margin-top:15px;
}
.btn-login{
    background-color:#1ab394;
    border-color:#1ab394;
    color:#FFF;
    width:100%;
}
.input_style{
    background-color:rgb(250, 255, 189);
    height:34px;
    border-radius:1px;
}

        </style>
    </head>
    <body style = "background-color:#f3f3f4">
        <div style = "margin:0 auto;padding:100px 20px 20px">
            <h2 style = "text-align:center;font-weight:100;font-size:24">Admin Login</h2>
            <div class = "login_box">
                <form class = "login_form" action = "/login/dologin" method = "POST">
                    <div style = "margin-bottom:15px;">
                        <input class = "form-control input_style" type = "text" name = "username" placeholder = "username">
                    </div>
                    <div style = "margin-bottom:15px;">
                        <input class = "form-control input_style" type = "password" name = "password" placeholder = "password">
                    </div>
                    <div style = "margin-bottom:15px;">
                        <button type = "submit" class = "btn btn-primary btn-login">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
