

{% extends 'common/header_leftSide.html' %}

{% block subMainContent  %}
    <div>
        <strong>Other:</strong>
        <hr style="border:1px solid #C1C1C1;" />
        <ul>
            <li> github:<a href = "{{data.admin.github}}" target = "_blank"> {{data.admin.github}}</a> </li>
        </ul>
    </div>

    <div style="padding-top:30px">
        <strong>About Me:</strong>
        <hr style="border:1px solid #C1C1C1;" />
        <ul>
            <li> nickName: {{data.admin.nickName}} </li>
            <li> birthday: {{data.admin.birthday}} </li>
        </ul>
    </div>

    <div style="padding-top:30px">
        <strong>Contact:</strong>
        <hr style="border:1px solid #C1C1C1;" />
        <ul>
            <li> wechat: {{data.admin.wechat}} </li>
            <li> email: {{data.admin.email}} </li>
        </ul>
    </div>

{% endblock %}
