
{% extends 'common/header_leftSide.html' %}

{% block subMainContent  %}
    {% for article in data.articles %}
        <article class="entry entry-simple">

            <h2 class="entry-title"><a href="/visitor/article/getArticleDetail?id={{article.id}}">{{article.title}}</a></h2>

            <footer class="entry-footer clearfix">
                <span class="entry-cats">
                    <span class="entry-label">Categories:</span>
                    <a href="#">{{article.classifyName}}</a>
                </span><!-- End .entry-tags -->
                <span class="entry-separator">/</span>
                <a href="#" class="entry-comments">{{article.commentNum}} Comments</a>
                <span class="entry-separator">/</span>
                by <a href="#" class="entry-author">Allen</a>
                                
                <a href="getArticleDetail?id={{article.id}}" class="entry-readmore text-right">Read More <i class="fa fa-angle-right"></i></a>
            </footer>
        </article>
    {% endfor  %}
{% endblock %}
